<!--The content below is only a placeholder and can be replaced.-->
<div class="w3-container header">
    <div class="w3-row " id="row-header">
        <div class=" w3-padding w3-display-topleft col-logo">
            <img id="logo-main" src="/assets/img/logolatam.png" alt="">
        </div>
    </div>
</div>
<section class="process-sect" id="process-sect">
<div class="landing"></div>
<div class="w3-container w3-display-middle container-returns">
    <div class="w3-row row-returns" id="row-returns">
        <div class="w3-col col-top-return" id="col-top-return">
            <div class="w3-container sub-container-returns">
                <div class="w3-row w3-padding-16">
                    <div class="w3-col s5 col-total-returns">
                        <img class="lupe-img-return" src="/assets/img/avionlupewhite.png" alt="">
                    </div>
                    <div class="w3-col s7 w3-text-white">
                        <div class="graph-top">
                            <div class="topgraph"></div>
                        </div>
                        <div class="total-return">
                            <h5 class="title-return">Devoluciones</h5>
                            <p class="number-return"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow-rect"></div>
        </div>
        <div class="w3-col" id="col-card-process"></div>
    </div>
</div>
<div class="spinner" id='spinner-proc'>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
</section>
<router-outlet></router-outlet>